<h1>TO DO List</h1>
<div></div>
<h3> A place to store your todos</h3>
<button class="button1">Filter your to dos</button>
<div class="todo-list">
    <button type="submit" id="submit">Add</button>
    <ol>
        <!-- // The ngForOf Directive must be used
        // goal to set text decoration style = line through, with ternary operator. left is true and right is false. -->
        <li *ngFor="let todo of todos" [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}">
            <!-- //looping each todo -->
             <button class="add-button" (click)="completetask(todo)"> Complete</button>
             {{todo.task}}
             <button class="delete-button"> X </button>

             
        </li>
    </ol> 
</div>